<footer class="footer bg-dark text-light pt-4">
  <div class="container">
    <div class="row footer-content">
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/addblog">Add Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Information</h5>
        <p class="text">123 Main Street, City, Country</p>
        <p class="text">Email: info@example.com</p>
        <p class="text">Phone: +123456789</p>
      </div>
      <div class="col-md-4">
        <h5>Subscribe to Our Newsletter</h5>
        <form>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>
