<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Sign In</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body
    style="
      background: darkgrey;
      display: flex;
      justify-content: center;
      padding: 15px;
      align-items: center;
      height: 100vh;
    "
  >
    <div class="container bg-light text-dark border p-4 rounded box-shadow">
      <form action="/user/signin" method="post">
        <h3 class="text-center m-2">Sign In</h3>

        <% if (locals?.error) { %> <% if (locals?.error?.userExisted === false)
        { %>
        <div class="alert alert-danger" role="alert">User not Found</div>
        <% } %> <% if (locals?.error?.passwordMatched === false) { %>
        <div class="alert alert-danger" role="alert">Incorrect password</div>
        <% } %> <% } %>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>

        <div class="mb-3 form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="showPassword"
            onchange="togglePasswordVisibility()"
          />
          <label class="form-check-label" for="showPassword"
            >Show Password</label
          >
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>

        <hr />

        <div class="text-center">
          <p>Don't have an account? <a href="/user/signup">Sign up</a></p>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts') %>
    <script>
      function togglePasswordVisibility() {
        const passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
    </script>
  </body>
</html>
